@import "tailwindcss";

:root {
  --background: #ecebe3;
  --foreground: #222535;
  --main: #d4dedf;
  --sub: #9c9c9c;
  /* --point: rgba(255, 105, 6, 0.7); */
  --point: #ff6906;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sub: var(--sub);
  --color-main: var(--main);
  --color-point: var(--point);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
