@import "tailwindcss";

:root {
  --background: #ecebe3;
  --foreground: #222535;
  --main: #d4dedf;
  --sub: #9c9c9c;
  /* --point: rgba(255, 105, 6, 0.7); */
  --point: #ff6906;
  --accent: #e2efdf;
  --accent-dark: #b0c8aa;
  --font-default: "Pretendard", Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sub: var(--sub);
  --color-main: var(--main);
  --color-point: var(--point);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --font-sans: var(--font-default);
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-default);
}
